flexsyscz:
	DateTimeProvider:
		months:
			january: leden
			february: únor
			march: březen
			april: duben
			may: květen
			june: červen
			july: červenec
			august: srpen
			september: září
			october: říjen
			november: listopad
			december: prosinec
		days:
			monday: pondělí
			tuesday: úterý
			wednesday: středa
			thursday: čtvrtek
			friday: pátek
			saturday: sobota
			sunday: neděle
		ago:
			justNow: právě teď
			second:
				1: před chvílí
				2: před chvílí
				?: před %s vteřinami
			day:
				1: včera
				?: před %s dny
			week:
				1: před týdnem
				?: před %s týdny

messages:
	error:
		userNotFound: "Uživatel nenalezen."
		accessDenied: "Přístup byl odepřen."

content:
	homepage:
		header: "Dobrý den!"
		description:
			part1: "Lorem ipsum 1"
			part2: "et dolores el simet 2"