flexsyscz:
	DateTimeProvider:
		months:
			january: january
			february: february
			march: march
			april: april
			may: may
			june: june
			july: july
			august: august
			september: september
			october: october
			november: november
			december: december
		days:
			monday: monday
			tuesday: tuesday
			wednesday: wednesday
			thursday: thursday
			friday: friday
			saturday: saturday
			sunday: sunday
		ago:
			justNow: just now
			second:
				1: few seconds ago
				2: few seconds ago
				?: %s seconds ago

messages:
	error:
		userNotFound: "User not found."
		accessDenied: "Access denied."

content:
	homepage:
		header: "Hello world!"
		description:
			part1: "Lorem ipsum 1"
			part2: "et dolores el simet 2"
			part3: @content.homepage.header
			part4: @content.homepage.description
			part5: @content.homepage.description.part5