<h1>Translations</h1>
<div class="tracy-inner">
    <div class="tracy-inner-container">
        <div n:foreach="$translator->debugStack as $stack" style="margin-bottom: 1rem">
            {Tracy\Dumper::toHtml($stack)|noescape}
        </div>
    </div>
</div>